<a href="https://colab.research.google.com/github/GWeveti/Moringa_Week3_IP/blob/main/Data_Investigation_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Data Investigation with Pandas

## 1.0 Importing our Libraries

In [1]:
# Importing the libraries we will need 
# Importing the pandas library
# Importing the numpy library

import pandas as pd
import numpy as np

## 1.1 Reading the Dataset from our CSV file



The dataset we will use contains information about the 2009 Census - The Rural Urban Population by Age, Sex and District.


*   Dataset link for download or access: [Link](https://drive.google.com/open?id=1pc9ZLFGsosdWBk1lI29ADIqRtCvD_FBe)

In [3]:
# Let's read the data from the CSV file and create the dataframe to be used
# reading the files and creating dataframes

df1 = pd.read_csv('/content/RuralUrban.csv')
df1

           District Urban/Rural Age_years  ...   County  Province  OBJECTID
0      NAIROBI WEST       Urban         0  ...  Nairobi   NAIROBI         0
1      NAIROBI WEST       Urban         1  ...  Nairobi   NAIROBI         1
2      NAIROBI WEST       Urban         2  ...  Nairobi   NAIROBI         2
3      NAIROBI WEST       Urban         3  ...  Nairobi   NAIROBI         3
4      NAIROBI WEST       Urban         4  ...  Nairobi   NAIROBI         4
...             ...         ...       ...  ...      ...       ...       ...
25415    TESO SOUTH       Rural        77  ...    Busia   WESTERN     25415
25416    TESO SOUTH       Rural        78  ...    Busia   WESTERN     25416
25417    TESO SOUTH       Rural        79  ...    Busia   WESTERN     25417
25418    TESO SOUTH       Rural       80+  ...    Busia   WESTERN     25418
25419    TESO SOUTH       Rural    Age NS  ...    Busia   WESTERN     25419

[25420 rows x 9 columns]

## 1.2 Previewing our Dataset

In [7]:
# Let's preview the first 10 rows of our data
 
df1.head(10)

       District Urban/Rural Age_years   Male  ...  Total   County Province OBJECTID
0  NAIROBI WEST       Urban         0  10126  ...  20242  Nairobi  NAIROBI        0
1  NAIROBI WEST       Urban         1   8124  ...  16113  Nairobi  NAIROBI        1
2  NAIROBI WEST       Urban         2   8462  ...  17089  Nairobi  NAIROBI        2
3  NAIROBI WEST       Urban         3   8334  ...  16754  Nairobi  NAIROBI        3
4  NAIROBI WEST       Urban         4   7948  ...  15768  Nairobi  NAIROBI        4
5  NAIROBI WEST       Urban         5   7547  ...  15207  Nairobi  NAIROBI        5
6  NAIROBI WEST       Urban         6   6966  ...  14048  Nairobi  NAIROBI        6
7  NAIROBI WEST       Urban         7   6511  ...  13185  Nairobi  NAIROBI        7
8  NAIROBI WEST       Urban         8   6171  ...  12660  Nairobi  NAIROBI        8
9  NAIROBI WEST       Urban         9   6361  ...  13023  Nairobi  NAIROBI        9

[10 rows x 9 columns]

## 1.3 Accessing Information about our Dataset

In [ ]:
# We can getting to know more about the dataset by accessing its information 
#
OUR CODE GOES HERE

## 1.4 Answering Questions

Let's answer the following questions with our dataset

In [ ]:
# Challenge 1
# What was the average age of a person of Kenya?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# What was the average female population in Kenya?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# What was the average male population in Kenya?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 4
# Which 5 districts were the most densely populated Kenya in descending order?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 5
# Which 5 counties were the most densely populated Counties in descending order?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 6
# Which 5 districts were the most sparsely populated in descending order?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 7
# What was the average population of the the most densely populated county in Kenya?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 8
# What was the average population of the the most sparsely populated county in Kenya?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 9
# What was the total population of Busia County? 
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 10
# What was the average age of person in Busia County? How many people of this age were in Busia County?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 11
# What was the Total population of Teso South District?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 12
# What was the urban population of Teso South District?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 13
# What was the rural population of Teso South District?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 14
# What was the population of people aged 60 and above in Kenya?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 15 
# What was the urban population in Kenya?
#
OUR CODE GOES HERE